* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* .wrapper {
    height: 100vh;
    width: 100vw;
} */

.container-left {
    display: inline-block;
    width: 70%;
    padding-left: 136px;
    margin-top: 150px;
}

.container-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 30%;
    position: absolute;
    padding-top: 5px;
}

img {
    position: relative;
    height: 450px;
    width: 350px;
    top: 10%;
    right: 110px;
}

h1 {
    font-weight: 400;
    font-size: 55px;
    line-height: 80px;
    width: 368px;
    color: #5D5D7D;
}

p {
    font-size: 25px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
    width: 540px;
    color: #5D5D7D;
}

button {
    width: 269px;
    height: 62px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border: none;
    border-radius: 30px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

a {
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 15px;
    cursor: pointer;
}

a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

header {
    margin: 3% 0 5% 7%;
}

/* @media screen and (max-width: 1100px) {
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
        position: static;
        padding: auto;
    }

    img {
        position: static;
        max-width: 90%;
        height: 400px;
        width: 300px;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 53px 0 54px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: auto;
        display: block;
        width: 200px;
        height: 50px;
    }
} */